<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smart.engine.mapper.FlowTaskNodeMapper">

    <update id="updateState">
        update flow_tasknode set F_State ='-1' where F_TaskId = #{taskId}
    </update>

</mapper>
